certifi==2026.5.20
chardet==3.0.4
charset-normalizer==3.4.7
idna==2.8
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
requests==2.34.2
setuptools==82.0.1
typing_extensions==4.15.0
urllib3==2.7.0
